<header class="page-header-section bg-primary">

    <div ng-include="'Views/Frontend/topnav.html'"></div>

    <div class="container container-padded text-white text-center slide-pop" >
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>Simple pricing</h1>
                <p class="lead">30-day money back guarantee. Upgrade, downgrade, or cancel at any time.</p>
            </div>
        </div>
    </div>


</header>

<section class="page-section" id="pricing">
    <div class="container container-padded">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <div class="panel-title">STARTER</div><br>
                                <small>For individuals</small>
                                <h2>$ 4.99 <small>/month</small></h2>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    10 GB disk space
                                </li>
                                <li class="list-group-item">
                                    5 sub domains
                                </li>
                                <li class="list-group-item">
                                    10 MySQL DB
                                </li>
                                <li class="list-group-item">
                                    1 User
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-default btn-block">Sign up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="panel-title">BASIC</div><br>
                                <small>For teams</small>
                                <h2>$ 9.99 <small class="text-success">/month</small></h2>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    10 GB disk space
                                </li>
                                <li class="list-group-item">
                                    5 sub domains
                                </li>
                                <li class="list-group-item">
                                    10 MySQL DB
                                </li>
                                <li class="list-group-item">
                                    1 User
                                </li>
                                <li class="list-group-item bg-success">
                                    <a href="#" class="btn btn-success btn-block btn-lg">Sign up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-white">
                            <div class="panel-heading">
                                <div class="panel-title">PRO</div><br>
                                <small>For businesses</small>
                                <h2>$ 14.99 <small>/month</small></h2>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    10 GB disk space
                                </li>
                                <li class="list-group-item">
                                    5 sub domains
                                </li>
                                <li class="list-group-item">
                                    10 MySQL DB
                                </li>
                                <li class="list-group-item">
                                    1 User
                                </li>
                                <li class="list-group-item">
                                    <a href="#" class="btn btn-default btn-block">Sign up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 m-bot25">
                        <a href="#" class="btn btn-link">Signup for a Free Developer account</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel-desc">All plans include</div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-floppy-o fa-2x"></i><br>Floppy drives
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-rocket fa-2x"></i><br>Rocket rides
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-magic fa-2x"></i><br>Magic shows
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-spoon fa-2x"></i><br>Unlimited spoons
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-beer fa-2x"></i><br>Free beer
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-2">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <i class="fa fa-camera-retro fa-2x"></i><br>Old cameras
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">Questions?</div>
                            </div>
                            <div class="panel-body text-left">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <h5>How can I pay?</h5>
                                            <p>We accept Visa, MasterCard, American Express, and Discover cards. We don't yet support PayPal.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <h5>How long are your contracts?</h5>
                                            <p>Proctor subscriptions vary from month-to-month or yearly payments. Upgrade, switch, or cancel your plan at any time.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <h5>When will I be charged?</h5>
                                            <p>Immediately upon signing up, and then every month, three months, six months, or year, depending on the plan you chose. We offer a 30 day money back guarantee if you aren't happy within 30 days of signing up.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="panel panel-plain m-bot0">
                                        <div class="panel-body">
                                            <h5>How do I cancel?</h5>
                                            <p>You can cancel at any time in the billing section of the dashboard. There are no obligations or contracts.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                More questions? <a href="#">Contact Support</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<script type="text/javascript">
        $(document).ready(function () {
            var scroll_pos = 0;
            var animation_end_pos = 100;
            $(document).scroll(function () {
                scroll_pos = $(this).scrollTop();
                if (scroll_pos > animation_end_pos) {
                    $('.navbar-fixed-top').css('background', 'rgba(255, 255, 255, 1)');
                } else {
                    $('.navbar-fixed-top').css('background', 'transparent');
                }
            });
        });
</script>-->
