<div class="main-content-wrapper">
    <div class="container-fluid container-padded dash-controls">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="main-content">
        <section>
            <div class="container-fluid container-padded">
                <div class="row">
                    <div class="col-md-12 page-title">
                        <h2>Blank page</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container-fluid container-padded">
                <div class="row">
                    <div class="col-md-12">
                        Blank page.
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>